.layout-employee {
    height: calc(100vh);
    overflow: hidden;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%; /* Ví dụ: chiều rộng 100% của phần tử cha */
    height: 200px; /* Ví dụ: chiều cao 200px */
    margin-bottom: 20px;
  }
  
  .logo-content {
    
  }
  
