.layout-employee {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  


  
.logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%; /* Ví dụ: chiều rộng 100% của phần tử cha */
    /* height: 200px;  */
    height: 80px;
    margin-bottom: 50px;
    margin-top: 50px;

    transition: all 0.2s; /* Add a transition effect for smooth resizing */
}
  
.logo-content {
    height: 100%; 
    object-fit: contain; 
}
  
.ant-layout-sider-collapsed .logo {
    height:25px; 
}