  
  .size-table {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15%;
  
  }
   
  .size-table > div {
      align-items: center;
      margin-bottom: 10px;
  }
  /* Tạo một class cho container chứa các ảnh */

  .uploaded-file-container {
    width: 100%; /* Đặt kích thước chiều rộng mong muốn */
    height: 100%; /* Đặt kích thước chiều cao mong muốn */
    overflow: hidden; /* Ẩn bất kỳ phần nào của hình ảnh vượt ra ngoài phạm vi đã định */
  }
  
  .uploaded-file-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh được điều chỉnh tỷ lệ để không bị méo khi hiển thị */
  }
